{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle"
             style="background-image:url('{% static 'images/banner/bnr1.jpg' %}');">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Profile</h1>
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
            <!-- Job Detail -->
            <div class="section-full content-inner-1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="sticky-top">
                                <div class="row">
                                    <div class="col-lg-12 col-md-6">
                                        <div class="m-b30">
                                            <img src="images/blog/grid/pic1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-6">
                                        <div class="widget bg-white p-lr20 p-t20  widget_getintuch radius-sm">
                                            <h4 class="text-black font-weight-700 p-t10 m-b15">User Details</h4>
                                            <ul>
                                                <li><i class="ti-location-pin"></i><strong
                                                        class="font-weight-700 text-black">Address</strong><span
                                                        class="text-black-light"> Demo Address #8901 Marmora Road Chi Minh City, Vietnam </span>
                                                </li>
                                                <li><i class="ti-shield"></i><strong class="font-weight-700 text-black">Experience</strong>6
                                                    Year Experience
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="job-info-box">
                                <h3 class="m-t0 m-b10 font-weight-700 title-head text-center text-dark">
                                    Nur Amin Sifat
                                </h3>
                                <ul class="job-info">
                                    <li><strong>Education</strong> Computer Science & Engineering</li>
                                    <li><strong>Graduate Year:</strong> 25th January 2020</li>
                                    <li><i class="ti-location-pin text-black m-r5"></i> Dhaka</li>
                                </ul>
                                <div class="row mt-2">
                                    <div class="col-sm-6 mt-2">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title text-center text-info">Father Name</h5>
                                                <p class="card-text text-center">With supporting text below as a natural
                                                    lead-in to
                                                    additional content.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mt-2">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title text-center text-info">Mother Name</h5>
                                                <p class="card-text text-center">With supporting text below as a natural
                                                    lead-in to
                                                    additional content.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title text-center text-info">Gender</h5>
                                                <p class="card-text text-center">With supporting text below as a natural
                                                    lead-in to
                                                    additional content.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title text-center text-info">Religion</h5>
                                                <p class="card-text text-center">With supporting text below as a natural
                                                    lead-in to
                                                    additional content.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title text-center text-info">Mariterial Status</h5>
                                                <p class="card-text text-center">With supporting text below as a natural
                                                    lead-in to
                                                    additional content.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title text-center text-info">Nationality</h5>
                                                <p class="card-text text-center">With supporting text below as a natural
                                                    lead-in to
                                                    additional content.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title text-center text-info">Phone Number</h5>
                                                <p class="card-text text-center">With supporting text below as a natural
                                                    lead-in to
                                                    additional content.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title text-center text-info">Death Of Birth</h5>
                                                <p class="card-text text-center">With supporting text below as a natural
                                                    lead-in to
                                                    additional content.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2 mb-2">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title text-center text-info">Address</h5>
                                                <p class="card-text text-center">With supporting text below as a natural
                                                    lead-in to
                                                    additional content.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top: 30px">
                                <button type="button" id="btn" class="btn btn-primary mb-5">Edit or Create Profile</button>
                            </div>
                            <form id="form" method="post" action="">
                                <div class="row mt-2">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="First name"
                                               aria-label="First name">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Last name"
                                               aria-label="Last name">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Father Name"
                                               aria-label="First name">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Mother Name"
                                               aria-label="Last name">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Gender"
                                               aria-label="First name">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Religion"
                                               aria-label="Last name">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Mariterial Status"
                                               aria-label="First name">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Nationality"
                                               aria-label="Last name">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Phone Number"
                                               aria-label="First name">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Date of Birth"
                                               aria-label="Last name">
                                    </div>
                                </div>
                                <div class="row mt-2 mb-2">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" placeholder="Address"
                                               aria-label="First name">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary mb-4">Save</button>
                            </form>
                        </div>
                        <script>
                            $("#form").hide()
                            $("#btn").click(function () {
                                $("#form").toggle(1000)
                            })
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}