{% extends 'base.html' %}
{% load static %}
{% load poll_extras %}
{% block content %}
    <div class="page-content">
        <!-- Section Banner -->
        <div class="dez-bnr-inr dez-bnr-inr-md overlay-black-dark"
             style="background-image:url('{% static 'images/main-slider/slide1.jpg' %}');height: 250px">
            <div class="container" style="height: 250px">
                <div class="dez-bnr-inr-entry align-m text-white">
                    <div class="job-search-form">
                        <h3 class="text-center">The Easiest Way to Get Your New Job</h3>
                        <h5>Find Jobs, Employment & Career Opportunities</h5>
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" id="keywordId"
                                       placeholder="Job Title Or Company Name" name="keyword">
                                <input type="text" class="form-control" name="location" id="locationId"
                                       placeholder="City, Province Or Region">
                                <div class="input-group-prepend">
                                    <button class="site-button" id="searchId" value="Search">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Job -->
    <div class="section-full bg-white content-inner-2">
        <div class="container">
            <div class="d-flex job-title-bx section-head">
                <div class="mr-auto">
                    <h2 class="m-b5">Recent Jobs</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-9">
                    <ul class="post-job-bx" id="searchItemId">
                        {% for job in recentJob %}
                            <li>
                                <a href="{% url 'job-detail' job.id %}" style="border-radius: 25px;box-shadow: 0 0 10px 0 rgb(0 24 128);display: block;position: relative;">
                                    <div class="d-flex m-b30">
                                        <div class="job-post-company">
                                            <span><img src="images/logo/icon1.png"/></span>
                                        </div>
                                        <div class="job-post-info">
                                            <h4>{{ job.title }}</h4>
                                            <ul>
                                                <li><i class="fa fa-map-marker"></i> {{ job.locations }}</li>
                                                <li><i class="fa fa-bookmark-o"></i>{{ job.job_type }}</li>
                                                <li><i class="fa fa-clock-o"></i> {{ job.created_at }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="job-time mr-auto">
                                            <span>{{ job.job_type }}</span>
                                        </div>
                                        <div class="salary-bx">
                                            <span>{{ job.salary }}$</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="m-t30">
                        <div class="d-flex">
                            {% if recentJob.has_other_pages %}
                                {% if recentJob.has_previous %}
                                    <a class="site-button button-sm mr-auto"
                                       href="?page={{ recentJob.previous_page_number }}"><i class="ti-arrow-left"></i> Prev</a>
                                {% else %}
                                    <a class="site-button button-sm mr-auto" aria-disabled="true" href="#"><i class="ti-arrow-left"></i> Prev</a>
                                {% endif %}
                                {% if recentJob.has_next %}
                                    <a class="site-button button-sm" href="?page={{ recentJob.next_page_number }}">Next<i class="ti-arrow-right"></i></a>
                                {% else %}
                                    <a class="site-button button-sm " aria-disabled="true" href="#">Next
                                        <i
                                                class="ti-arrow-right"></i></a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Job END -->
    <!-- About Us -->
    <div class="section-full job-categories content-inner-2 bg-white"
         style="background-image:url('{% static '../images/pattern/pic1.html' %}');">
        <div class="container">
            <div class="section-head text-center">
                <h2 class="m-b5">Popular Categories</h2>
            </div>
            <div class="row sp20">
                {% for cat in categories %}
                    <a href="{% url 'category-details' cat.id %}">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="icon-bx-wraper">
                                <div class="icon-content">
                                    <div class="icon-md text-primary m-b20"><i class="ti-location-pin"></i></div>
                                    <a href="#" class="dez-tilte">{{ cat.name }}</a>
                                    <p class="m-a0">{{ cat.job_cats.all|length }} Open Positions</p>
                                    <div class="rotate-icon"><i class="ti-location-pin"></i></div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- About Us END -->

    </div>
    {% include "app/job-ajax.html" %}
{% endblock %}