<script>
    $('#searchId').click(function (e) {
        console.log("Loading")
        output = ``
        e.preventDefault()
        let keyword = $("#keywordId").val()
        let location = $("#locationId").val()
        let csr = $("input[name=csrfmiddlewaretoken]").val();
        console.log("Working", keyword, location, csr)
        let myData = {keyword: keyword, location: location, csrfmiddlewaretoken: csr}
        $.ajax({
            url: '{% url 'search-job' %}',
            method: "POST",
            data: myData,
            dataType: 'json',
            success: function (data) {
                {#console.log("Ajax working",data)#}
                if(data.search_items === data.search_items.length){
                    console.log(data)
                    data.search_items.map(function (job) {
                        console.log(job)
                        output+=`
                            <li>
                                <a href="/browse-job/${job.id}/">
                                    <div class="d-flex m-b30">
                                        <div class="job-post-company">
                                            <span><img src="images/logo/icon1.png"/></span>
                                        </div>
                                        <div class="job-post-info">
                                            <h4>${job.title}</h4>
                                            <ul>
                                                <li><i class="fa fa-map-marker"></i>${job.locations}</li>
                                                <li><i class="fa fa-bookmark-o"></i>${job.job_type}</li>
                                                <li><i class="fa fa-clock-o"></i>${job.created_at}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="job-time mr-auto">
                                            <span>${job.job_type}</span>
                                        </div>
                                        <div class="salary-bx">
                                            <span>${job.salary}</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        `
                        $("#searchItemId").html(output)
                    })
                }
                else {
                    output+=`<h3 class='text-center text-danger'>Search not fount</h3>`;
                    console.log("Search not found")
                    $("#searchItemId").html(output)
                }

            }
        })

    })
</script>